<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <title>租介网</title>
      <meta name="description" content="" />
      <meta name="author" content="star" />
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="full-screen" content="yes">
      <meta name="screen-orientation" content="portrait">
      <meta name="x5-fullscreen" content="true">
      <meta name="360-fullscreen" content="true">
      <style>
      .body{

 
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /*text-align: center;*/
}
img{display: inline-block;
  /*margin:0 auto;*/
 /* position: absolute;
  bottom:1px;
  left: 50% ;
  transform: translate(-50px 0);*/
margin-bottom: 46px;

}
</style>
    </head>
    <body>
    <div class="body">
         zafsddfadsf
    </div>
    
    </body>
</html>